<h2> All Artists </h2>

<% @artists.each do |artist| %>
  <section id = "artist-<%= artist.id %>">
    <p><%= artist.name %></p>
    <%= button_to 'Delete', "/artists/#{artist.id}", method: :delete %>
    <%= link_to 'Edit', "/artists/#{artist.id}/edit" %>
  </section>
<% end %>
<%= link_to 'New Artist', '/artists/new' %>
